html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;

  
}

  /** Globals **/
body{
    
    background-color: rgb(255, 255, 255);
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }



h1{
  font-size: 4rem;
  margin-bottom: 0;
}

h2{
  font-size: 2rem;
  padding:1rem;
}

h3{
  font-size: 1.5rem;
  margin-bottom: 0;
}

h1 span{
  display: block;
  text-align: center;
  
}

h1 span.site-title{
  color:green;
}

img{
    max-width: 100%;
  }

p{
    font-size: 1.5rem;
    text-align: center;
}

img{
  width: 100%;
}

p.site-email{
  
}

a{
  color: green;
  text-decoration: none;
  text-align: center;
  transition: color .3s ease-in-out;
}

a:hover{
  color: red;
}

a.github:hover{
  color: #6f42c1;
}

a.linkedin:hover{
  color: #1da1f2;
}

a.ig{
  background: -webkit-linear-gradient(#f5e96c, #fdf497, #fd5949, #d6249f, #285AEB);
  -webkit-background-clip: text;
}

a.ig:hover{
  transition: all .3s ease-in-out;

  color:transparent;
  -webkit-text-fill-color: transparent;
 
}

a.itchio:hover{
  color: #fa5c5c;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.center{
  text-align: center;
}

/* Beginning*/
header{
  background-color: #e1e1e1;
  padding: 1rem;
}

.social a{
  font-size: 3rem;
  margin-right: 1rem;
}

.social a:last-child{
  
  margin-right: 0;
}

/* Introduction */
.about-me{
  padding: 1rem;

}

.my-face{
  width: 200px;
  border-radius: 50%;
  margin-top:1rem;
}

.me{ 
  line-height: 1.2;
}

.me p{
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0 auto;
}

.button{
  border: 1px #bdbdbd solid;
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* My path */
.path{
  padding: 1rem;
}

.programming{

}


.programming-icons{
  text-align: center;
}

/* Fancy  icons*/
.programming-icons p,
.tools-icons p,
.hobbies-icons p{
  margin: 1rem 0 0 1rem;
  font-size: 5rem;
  color:#7a7a7a;
}

.tools-icons p i:last-child{
  margin-left: 0.8rem;
}

/* Projects */
.cool-underline{
 
  width:10rem;
  height: 0.25rem;
  background-color: green;
  border-radius: 5px;
  margin-bottom: 2rem;
}

/* Projects */

.projects-header p{
  margin:0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.project{
  display: flex;
  margin-bottom: 10rem;
}

.project .gif{
  margin-right: 1rem;
}

.reverse-project{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10rem;
}

.reverse-project .info{
  margin-right: 1rem;
}

.info{
  width:40%;
  text-align: left;
  margin-left: 1rem;
}

.info p{
  margin-top: 0;
  text-align: left;
}


.gif{
  border-radius: 2%;
  max-width: 500px;
}


.contributions{
  line-height: 1;
  
}



/** header **/
.site-header{
  
  background-color: #3F3F3F; 
  
  font-size: 1.6rem;
  padding: 1rem;

  text-align: left;

  display: grid;
}

.site-header img{ 
  margin-left: 1rem;
}

img.logo{
  margin-left:7rem;
}

.nav-header{
  text-align: center;
  padding: 2rem 0;
}

.site-footer{
  background-color: #3F3F3F; 
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem 0;
  color: white;
}

